{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title>Forecast</title>
      <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
      <link href="/static/open-iconic/font/css/open-iconic.css" rel="stylesheet">
   </head>
   <body>
      <!-- your single-location forecast interface here -->
      <button type="button" id="setting" value = "OFF" class="btn btn-primary btn-md">
      <img src="/static/open-iconic/svg/cog.svg" id = "setting-icon" alt="icon name">
      </button>
      <div class="weather-tabs">
         <div class="col-12">
            <button type="button" id = "berkeley" class="btn btn-primary btn-lg rectangle">
               <div class="row">
                  <div  class = "city-name" >
                     <p>Berkeley</p>
                  </div>
                  <div id = "weather-icon" >
                     <div id = "weather">
                        <svg class = "m-weather temp-text" xmlns="http://www.w3.org/2000/svg" width=5rem height=5rem viewBox="0 0 8 8">
                           <path d="M4 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-3.5 1.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm7 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-6 2.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5z"
                              />
                        </svg>
                     </div>
                  </div>
                  <div class = "temperature">
                     <div class="temp" id = "berkeley-temp">
                        <p>
                           28 &#8451;
                        </p>
                     </div>
                     <div class = "chance">
                        <p>
                           chance of rain: 10%
                        </p>
                     </div>
                  </div>
               </div>
            </button>
            <button type="button" id = "san-jose" class="btn btn-primary btn-lg rectangle alert">
               <div class="row">
                  <div  class = "city-name" >
                     <p>San Jose</p>
                  </div>
                  <div id = "weather-icon" >
                     <div id = "weather-alert">
                         <svg class = "m-weather temp-text" xmlns="http://www.w3.org/2000/svg" width=4rem height=9rem viewBox="0 0 8 8">
                     <path d="M3 0l-3 5h2v3l3-5h-2v-3z" transform="translate(1)" />
                  </svg>
                  <svg class = "icon-purple temp-text" xmlns="http://www.w3.org/2000/svg" width=4rem height=4rem viewBox="0 0 8 8">
                     <path d="M3.09 0c-.06 0-.1.04-.13.09l-2.94 6.81c-.02.05-.03.13-.03.19v.81c0 .05.04.09.09.09h6.81c.05 0 .09-.04.09-.09v-.81c0-.05-.01-.14-.03-.19l-2.94-6.81c-.02-.05-.07-.09-.13-.09h-.81zm-.09 3h1v2h-1v-2zm0 3h1v1h-1v-1z" />
                  </svg>
                     </div>
                  </div>
                  <div class = "temperature">
                     <div class="temp" id = "san-jose-temp">
                        <p>
                           22 &#8451;
                        </p>
                     </div>
                     <div class = "chance">
                        <p>
                           chance of rain: 50%
                        </p>
                     </div>
                  </div>
               </div>
            </button>
         </div>
      </div>
      <button type="button" id="hamburger" class="btn btn-primary btn-md">
      <img src="/static/open-iconic/svg/menu.svg" id = "hamburger-icon" alt="icon name">
      </button>
      <button type="button" id="graph" class="btn btn-primary btn-md">
      <img src="/static/open-iconic/svg/graph.svg" id = "graph-icon" alt="icon name">
      </button>
   </body>
  <script type="text/javascript">
    document.getElementById("setting").onclick = function() {
    if (document.getElementById("setting").value == "OFF") {
      document.getElementById("setting").value = "ON";
      document.getElementById("berkeley-temp").innerHTML = "83 &#8457;"
       document.getElementById("san-jose-temp").innerHTML = "72 &#8457;"
    } else if (document.getElementById("setting").value == "ON") {
      document.getElementById("setting").value = "OFF";
      document.getElementById("berkeley-temp").innerHTML = "28 &#8451;";
      document.getElementById("san-jose-temp").innerHTML = "22 &#8451;"
    }
  };
    
    document.getElementById("berkeley").onclick = function() {
    location.href = "/weather/forecast/";
  };
    document.getElementById("san-jose").onclick = function() {
    location.href = "/weather/forecast/alert";
  };
    
    
</script>
</html>