{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Forecast</title>
  <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  <link href="/static/open-iconic/font/css/open-iconic.css" rel="stylesheet">
</head>

<body>
  <!-- your single-location forecast interface here -->

  <button type="button" id="setting" value="OFF" class="btn btn-primary btn-md">
      <img src="/static/open-iconic/svg/cog.svg" id = "setting-icon" alt="icon name">
      </button>

  <div class="weather-tabs">
    <div class="col-12">
      <button type="button" id="berkeley"  class="btn btn-primary btn-lg rectangle">
               <div class="row">
                  <div  class = "city-name" >
                     <p>Berkeley</p>
                  </div>
                  <div id = "weather-icon" >
                     <div id = "weather">
                        <svg class = "m-weather temp-text" xmlns="http://www.w3.org/2000/svg" width=5rem height=5rem viewBox="0 0 8 8">
                           <path d="M4 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-3.5 1.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm7 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-6 2.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5z"
                              />
                        </svg>
                     </div>
                  </div>
                  <div class = "temperature">
                     <div class="temp" id = "berkeley-temp">
                        <p>
                           28 &#8451;
                        </p>
                     </div>
                     <div class = "chance">
                        <p>
                           chance of rain: 10%
                        </p>
                     </div>
                  </div>
               </div>
            </button>

      <button type="button" id="san-jose" class="btn btn-primary btn-lg rectangle">
               <div class="row">
                  <div  class = "city-name" >
                     <p>San Jose</p>
                  </div>
                  <div id = "weather-icon" >
                     <div id = "weather">
                        <svg class = "m-cloud temp-text" xmlns="http://www.w3.org/2000/svg" width=5rem height=5rem viewBox="0 0 8 8">
                           <path d="M2.5 0c-1.38 0-2.5 1.12-2.5 2.5 0 .39.09.74.25 1.06.3-.21.64-.37 1-.47.55-1.25 1.82-2.09 3.25-2.09-.46-.6-1.18-1-2-1zm2 2c-1.21 0-2.27.86-2.5 2-1.1 0-2 .9-2 2s.9 2 2 2h4.5c.83 0 1.5-.67 1.5-1.5 0-.65-.42-1.29-1-1.5v-.5c0-1.38-1.12-2.5-2.5-2.5z"
                              />
                        </svg>
                     </div>
                  </div>
                  <div class = "temperature">
                     <div class="temp" id = "san-jose-temp">
                        <p>
                           22 &#8451;
                        </p>
                     </div>
                     <div class = "chance">
                        <p>
                           chance of rain: 50%
                        </p>
                     </div>
                  </div>
               </div>
            </button>
    </div>
  </div>
  <button type="button" id="hamburger" class="btn btn-primary btn-md">
      <img src="/static/open-iconic/svg/menu.svg" id = "hamburger-icon" alt="icon name">
      </button>
  <button type="button" id="graph" class="btn btn-primary btn-md">
      <img src="/static/open-iconic/svg/graph.svg" id = "graph-icon" alt="icon name">
      </button>
</body>
<script type="text/javascript">
  document.getElementById("berkeley").onclick = function() {
    location.href = "/weather/forecast/";
  };
  document.getElementById("setting").onclick = function() {
    if (document.getElementById("setting").value == "OFF") {
      document.getElementById("setting").value = "ON";
      document.getElementById("berkeley-temp").innerHTML = "83 &#8457;"
       document.getElementById("san-jose-temp").innerHTML = "72 &#8457;"
    } else if (document.getElementById("setting").value == "ON") {
      document.getElementById("setting").value = "OFF";
      document.getElementById("berkeley-temp").innerHTML = "28 &#8451;";
      document.getElementById("san-jose-temp").innerHTML = "22 &#8451;"
    }
  };
  document.getElementById("san-jose").onclick = function() {
    location.href = "/weather/san-jose/";
  };
</script>

</html>