{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title>Forecast</title>
      <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
      <link href="/static/open-iconic/font/css/open-iconic.css" rel="stylesheet">
   </head>
   <body>
      <!-- your single-location forecast interface here -->
      <button type="button" id="setting" class="btn btn-primary btn-md">
      <img src="/static/open-iconic/svg/cog.svg" id = "setting-icon" alt="icon name">
      </button>
      <div class="weather-tabs">
         <div class="col-12">
            <button type="button" class="btn btn-primary btn-lg rectangle">
               <div class="row">
                  <div  class = "city-name" >
                     <p>Berkeley</p>
                  </div>
                  <div id = "weather-icon" >
                     <div id = "weather">
                        <svg class = "m-weather temp-text" xmlns="http://www.w3.org/2000/svg" width=5rem height=5rem viewBox="0 0 8 8">
                           <path d="M4 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-3.5 1.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm7 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-6 2.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm-2.5 1c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5z"
                              />
                        </svg>
                     </div>
                  </div>
                  <div class = "temperature">
                     <div class="temp">
                        <p>
                           28 &#8451;
                        </p>
                     </div>
                     <div class = "chance">
                        <p>
                           chance of rain: 10%
                        </p>
                     </div>
                  </div>
               </div>
            </button>
            <button type="button" class="btn btn-primary btn-lg rectangle alert">
               <div class="row">
                  <div  class = "city-name" >
                     <p>Fremont</p>
                  </div>
                  <div id = "weather-icon" >
                     <div id = "weather-alert">
                        <img src="/static/open-iconic/svg/bolt.svg" class= "weather-icon" alt="icon name">
                        <img src="/static/open-iconic/svg/warning.svg" class= "weather-icon" alt="icon name">
                     </div>
                  </div>
                  <div class = "temperature">
                     <div class="temp">
                        <p>
                           22 &#8451;
                        </p>
                     </div>
                     <div class = "chance">
                        <p>
                           chance of rain: 50%
                        </p>
                     </div>
                  </div>
               </div>
            </button>
         </div>
      </div>
      <button type="button" id="hamburger" class="btn btn-primary btn-md">
      <img src="/static/open-iconic/svg/menu.svg" id = "hamburger-icon" alt="icon name">
      </button>
      <button type="button" id="graph" class="btn btn-primary btn-md">
      <img src="/static/open-iconic/svg/graph.svg" id = "graph-icon" alt="icon name">
      </button>
   </body>
</html>