{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Forecast</title>

  <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  
  
 <button type="button"  id="setting" class="btn btn-primary btn-md">
   <span class="glyphicon glyphicon-cog"></span>Settings
  </button>
  
  
  <div class="row">
    <div class="col-12"  >
      

    </div>
  </div>










</head>

<body>
  <!-- your single-location forecast interface here -->
</body>

</html>